<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1>鍵盤災情支援網</h1>
  </div>
  <!-- Table -->
  <table class="table table-hover">
    <tr>
      <th class="col-md-4"><h4>標題</h4></th>
      <th><h4>內容</h4></th>
      <th class="text-center"><h4>Edit</h4></th>
      <th class="text-center"><h4>Delete</h4></th>
    </tr>
    <% @informations.each do |info|  %>
      <tr>
        <td>
          <%= link_to info.title, information_path(info), :class => "text-left btn-link" %>
          <div class="pull-right">
            <span class="badge"><%= info.created_at %></span>
          </div>
        </td>
        <td>
          <%= info.paragraph %>
          <span class="label label-warning"><%= info.category %></span>
        </td>
        <% if info.user == current_user %>
          <td class="text-center">
            <%= link_to "Edit", edit_information_path(info), :class => "btn btn-default" %>
          </td>
          <td class="text-center">
            <%= link_to "Delete", information_path(info),:method => :delete, :class => "btn btn-danger"%>
          </td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<% if @information.new_record? %>
  <% u = informations_path %>
<% else %>
  <% u = information_path(@information) %>
<% end %>

<%= form_for @information, :url => u do |i| %>
    <% if @information.errors.any? %>
        <ul>
          <% @information.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Title:</button>
        </span>
        <%= i.text_field :title, :class => "form-control", :placeholder=> "Informaion..." %>
        <span class="input-group-addon">
          <!--這種方式新增類別沒有比較好 維護跟修改都比較麻煩-->
          <%= i.radio_button(:category, "emergency") %>EMERGENCY
          <%= i.radio_button(:category, "help") %>help
          <%= i.radio_button(:category, "news") %>news
        </span>
      </div>
    </div>

    <div class="panel-body">
      <%= i.text_area :paragraph, :class => "form-control" %>
    </div>

    <div class="panel-body">
      <div class="input-group">
        <%= i.submit "submit", :class => "btn btn-default text-right" %>
      </div>
    </div>

  </div>
<% end %>

<%= paginate @informations, :window => 2 %>